<%# app/views/tasks/new.html.erb %>

<h1>New task</h1>

<%# Assuming the form partial call is already using the correct nested helper %>
<%= render "form", task: @task %>

<div>
  <%# FIX 3: Change 'tasks_path' to 'project_tasks_path(@project)' or better, link back to the parent project %>
  <%= link_to "Back to project", @project %>
  
  <%# If you MUST link to the index page for tasks: %>
  <%# <%= link_to "Back to tasks", project_tasks_path(@project) %>
</div>
