name: Rails API CI

on:
  push:
    branches: [ "pims-backend" ]
  pull_request:
    branches: [ "pims-backend" ]

jobs:
  backend-tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        ports: [5432:5432]
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4

      - name: Install dependencies
        run: |
          gem install bundler
          bundle install --jobs 4

      -  name: Setup DB
          env:
            RAILS_ENV: test
            PGHOST: localhost
            PGUSER: postgres
            PGPASSWORD: password
          run: |
            bin/rails db:create
            bin/rails db:schema:load
